.cart-page {
    padding: 70px 0;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        & > * {
            margin: 0 10px;
        }
    }
}
.purchase {
    display: flex;
    flex-flow: column;
    flex-basis: 60%;
    padding: 30px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    &__title {
        h4 {
            font-size: 19px;
            border-bottom: 1px solid #ccc;
            padding: 10px;
        }
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }
    &__icon {
        min-width: 70px;
    }
    &__name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        padding: 0 20px;
        h4 {
            font-size: 16px;
        }
    }
    &__remove {
        width: 40px;
        height: 40px;
        border: none;
        position: relative;
        background-color: transparent;
        &:before,
        &:after {
            width: 25px;
            height: 3px;
            background-color: $text-red;
            left: 7px;
            bottom: 18px;
        }
        &:before {
            position: absolute;
            content: "";
            transform: rotate(45deg);
        }
        &:after {
            position: absolute;
            content: "";
            transform: rotate(-45deg);
        }
    }
    &__price {
        min-width: 140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            font-weight: 900;
        }
    }
    &__total {
        margin-top: auto;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            position: relative;
            border: 1px solid $main-color;
            padding: 10px 10px 10px 30px;
            transition: $hover-transition;
            &:hover {
                background-color: $main-color;
                color: #fff;
                &:after {
                    border-bottom-color: #fff;
                    border-left-color: #fff;
                }
            }
            &:after {
                position: absolute;
                content: "";
                left: 10px;
                top: 50%;
                width: 10px;
                height: 10px;
                border: 2px solid #000;
                border-top-color: transparent;
                border-right-color: transparent;
                transform: translateY(-7px) rotate(45deg);
                transition: $hover-transition;
            }
        }
        p {
            font-size: 22px;
            font-weight: bold;
        }
        span {
            margin-left: 30px;
        }
    }
    &__counter {
        display: flex;
        align-items: center;
        margin-right: 30px;
    }
    &__btn {
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        color: $main-color;
        font-size: 20px;
    }
    &__summ {
        text-align: center;
        width: 30px;
        font-size: 20px;
    }
}
.checkout {
    display: flex;
    flex-flow: column;
    flex-basis: 30%;

    &__info {
        padding: 30px 20px;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
        margin-bottom: 20px;
        p {
            padding: 20px 0;
            font-size: 18px;
            font-weight: 900;
            text-align: center;
        }
    }
    &__title {
        font-size: 18px;
        padding: 10px;
    }
    &__name,
    &__email {
        width: 100%;
        padding: 15px;
        background-color: rgb(219, 219, 219);
        border: none;
        margin-bottom: 10px;
    }
    &__login,
    &__register {
        width: 100%;
        text-align: center;
        color: #fff;
        margin-bottom: 10px;
    }
    &__register {
        background-color: $text-red;
        &:hover {
            background-color: $main-color;
        }
    }
}
.payment {
    padding: 30px 20px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    &__title {
        font-size: 18px;
        padding: 10px;
    }
    &__item {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        img {
            margin: 0 5px;
        }
    }
    &__form {
        label {
            margin-right: auto;
        }
        label input {
            display: none;
        }
        label input + i {
            display: block;
            width: 20px;
            height: 20px;
            border: 3px solid $text-green;
            border-radius: 50%;
            margin-right: auto;
        }
        label input:checked + i {
            background: url("../img/svg/checked.svg") no-repeat;
            background-size: cover;
        }
    }
    &__btn {
        width: 100%;
        background-color: rgb(0, 222, 251);
        color: #fff;
        text-align: center;
        margin-top: 30px;
    }
}
@media (max-width: 902px) {
    .purchase {
        flex-basis: 100%;
        margin-bottom: 20px;
        &__item {
            flex-wrap: wrap;
        }

        &__name {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-grow: 1;
            padding: 0 20px;
            h4 {
                font-size: 12px;
            }
        }
        &__total {
            a.backtomain {
                display: none;
            }
            p {
                font-size: 12px;
            }
        }
    }
    .checkout {
        flex-basis: 100%;
    }
}
