.header {
    position: relative;
    width: 100%;
}

//loader line is here
.loader.active {
    position: absolute;
    top: 0;
    left: 0;
    //margin-left: -125px;
    width: 100%;
    height: 2px;
    overflow: hidden;
    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 2px;
        transform: translate(-100%, 0);
    }

    &:before {
        background-color: rgba(255, 255, 255, 0.2);
        animation: loading 3400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &:after {
        background-color: #ca1e46;
        animation: loading 2500ms 500ms cubic-bezier(0.23, 1, 0.32, 1);
    }
}

@keyframes loading {
    75% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}

//end of loader line

.top {
    width: 100%;
    color: $text-white;
    background: linear-gradient(to left, #7f00e2, #0095f9);
    ul {
        @include dflex;
        a {
            @include dflex;
            align-items: center;
            padding: 12px;
            transition: $hover-transition;
            &:hover {
                color: rgb(0, 222, 251);
                svg {
                    fill: rgb(0, 222, 251);
                }
            }
            svg {
                margin-right: 8px;
                fill: #fff;
                transition: $hover-transition;
            }
        }
    }
    svg {
        width: 16px;
        height: 16px;
    }
    .container {
        @include dflex;
        justify-content: space-between;
    }
    &__right {
    }
    &__left {
    }
    &__socials {
        font-size: 0px;
        @include dflex;
        justify-content: center;
        align-items: center;
        a {
            padding: 12px 0 !important;
            &:hover {
                svg {
                    fill: rgb(0, 222, 251) !important;
                }
            }
            svg {
                margin-right: 0;
                fill: #fff !important;
            }
        }
    }
}
.bottom {
    background-color: #fff;
    padding: 20px 0;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 5;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    .container {
        @include dflex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        order: 2;
        span {
            font-size: 40px;
            line-height: 0.5;
            font-weight: 700;
            transition: $hover-transition;
            &:hover {
                color: $text-red;
            }
        }
    }
    .logo__red {
        font-size: 40px;
        line-height: 0.5;
        font-weight: 700;
        color: $text-red;
        position: relative;
        &:before {
            position: absolute;
            content: "";
            top: -5px;
            left: -10px;
            width: 15px;
            height: 7px;
            background-color: $text-black;
            transform: skewX(20deg);
        }
    }
}
.menu {
    flex-grow: 1;
    order: 4;
    transition: all 0.5s;
    &__list {
        @include dflex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__link {
        padding: 15px 20px;
        text-transform: uppercase;
        transition: $hover-transition;
        position: relative;
        font-weight: 700;
        letter-spacing: 2px;
        &:hover {
            color: $text-red;
            &:before {
                position: absolute;
                content: "";
                top: 7px;
                left: 0;
                width: 10px;
                height: 4px;
                background-color: $text-red;
                transform: skewX(20deg);
            }
        }
        &.current__page {
            color: $text-red;
        }
    }
    &__close {
        display: none;
    }
}
.cart {
    position: relative;
    @include dflex;
    order: 5;
    a {
        padding: 0 10px;
        position: relative;
        transition: $hover-transition;
        &:hover {
            color: $text-red;
        }
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            top: -10px;
            right: 0;
            background-color: $text-red;
            color: #fff;
            z-index: -1;
        }
    }
    svg {
        position: relative;
        width: 35px;
        height: 20px;
        z-index: -2;
    }
    &__link {
        @include dflex;
        align-items: center;
    }
}
.search {
    padding: 0 !important;
    display: flex;
    align-items: center;
    order: 4;
    input {
        padding: 0 20px 0 0;
        background: url("../img/svg/search.svg") no-repeat center right 10px;
        background-size: 10%;
    }
}
.cart__popup {
    display: none;
    position: absolute;
    width: 300px;
    min-height: 100px;
    padding: 20px;
    background-color: #fff;
    right: 0;
    top: 100%;
    flex-flow: column;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    .cart__popup-btn {
        display: block;
        width: 100px;
        padding: 10px;
        color: #fff;
        text-align: center;
        margin: 20px auto 0 auto;
        &:hover {
            background-color: $text-red;
            color: #fff;
        }
    }
    p {
        display: flex;
    }
    .cart__popup-price {
        margin-left: auto;
    }
}
.search__form {
    input {
        padding: 5px 10px;
        border-radius: 15px;
        border: 1px solid lightgrey;
        outline: none;
    }
}
.burger {
    ordere: 1;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: none;
    display: flex;
    flex-flow: column;
    padding: 0;
    position: relative;
    display: none;
    span {
        display: block;
        width: 30px;
        height: 4px;
        background-color: #000;
        position: relative;
        &:before {
            position: absolute;
            content: "";
            left: 0;
            bottom: -10px;
            width: 30px;
            height: 4px;
            background-color: #000;
        }
        &:after {
            position: absolute;
            content: "";
            left: 0;
            bottom: -20px;
            width: 30px;
            height: 4px;
            background-color: #000;
            //transform: translateY(-2px);
        }
    }
}
.sign span {
    color: rgb(0, 222, 251);
}
@media (max-width: 992px) {
    .bottom {
        .container {
            flex-wrap: wrap;
        }
        &__logo {
            b {
                font-size: 24px !important;
            }
            .logo__red:before {
                display: none;
            }
        }
    }
    .menu {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #000;
        z-index: 2;
        overflow: scroll;

        &__list {
            flex-flow: column;
            align-items: center;
            color: #fff;
            font-size: 20px;
            padding-top: 100px;
        }
        &.active {
            left: 0;
        }
        &__close {
            position: absolute;
            top: 20px;
            right: 20px;
            display: block;
            width: 30px;
            height: 30px;
            background-color: transparent;
            border: none;
            span {
                display: block;
                width: 100%;
                height: 2px;
                background-color: transparent;
                &:after,
                &:before {
                    position: absolute;
                    left: 0;
                    content: "";
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                }
                &:after {
                    transform: rotate(45deg);
                }
                &:before {
                    transform: rotate(-45deg);
                }
            }
        }
    }
    .burger {
        display: block;
    }
    .cart {
        position: relative;
        &__link {
            font-size: 0px;
            span {
                font-size: 12px;
            }
        }
    }
    .search {
        order: 6;
        flex-basis: 100%;
        width: 100%;
        margin-top: 20px;
        form {
            width: 100%;
        }
        input {
            width: 100%;
            text-align: center;
            background: none;
        }
    }
}
.cart:hover {
    svg {
        fill: $text-red;
    }
    .cart__popup {
        display: block;
    }
}

@media (max-width: 882px) {
    .top {
        .container {
            justify-content: center;
        }
        &__left {
            flex-basis: 100%;
            ul {
                justify-content: space-between;
            }
        }
        &__right {
            display: none;
        }
    }
}
@media (max-width: 481px) {
    .top {
        &__left {
            ul {
                justify-content: center;
            }
        }
        &__socials {
            display: none !important;
        }
    }
}
@media (max-width: 337px) {
    .wishlist {
        display: none !important;
    }
}
