.products {
    padding: 100px 0;
    &__wrapper {
        display: flex;
        justify-content: flex-start;
    }
    &__filter {
        min-width: 200px;
        //border-right: 1px solid $text-grey;
    }
    &__list {
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        & > .product:last-child {
            margin-right: auto;
        }
    }
    .brand__name {
        flex-basis: 100%;
        text-align: center;
    }
}
.product {
    width: 200px;
    margin: 0 20px 40px 20px;
    padding: 10px 5px;
    //outline: 1px solid red;
    //border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    transition: $hover-transition;
    cursor: pointer;
    &:hover {
        box-shadow: -2px 1px 5px 0px rgba(51, 51, 51, 0.75);
    }
    &__img {
        width: 100%;
        display: flex;
        align-items: center;
        img {
            width: 100%;
        }
    }
    &__name {
        margin-bottom: 10px;
        text-align: center;
    }
    &__price {
        margin-bottom: 10px;
    }
    &__btn {
        color: #fff;
        text-align: center;
    }
}
.products__form {
    fieldset {
        border: none;
        display: flex;
        flex-flow: column;
    }
    legend {
        display: block;
        font-size: 18px;
        margin: 10px 0;
        font-weight: 700;
    }
    label {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
        color: $text-grey;
        margin-bottom: 10px;
    }
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"] + i {
        display: block;
        width: 20px;
        height: 20px;
        border: 2px solid $text-grey;
        margin-right: 20px;
    }
    input[type="checkbox"]:checked + i {
        background-image: url("../img/svg/tick.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media (max-width: 902px) {
    .products {
        &__wrapper {
            flex-flow: column;
        }
        &__list {
            justify-content: space-between;
        }
    }
    .product {
        width: 130px;
    }
}
