.hero {
    position: relative;
    &__categories {
        position: absolute;
        width: 250px;
        //background-color: rgb(255, 252, 208);
        background: linear-gradient(to right, #7f00e2, #0095f9);
        z-index: 4;
        left: 100px;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
        color: #fff;
        h2 {
            background-color: $main-color;
            color: #fff;
            font-size: 18px;
            padding: 10px 0;
            text-align: center;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 25px;
                height: 20px;
                fill: #fff;
                margin: 0 10px 0 0;
            }
        }
    }
    &__slider {
        position: relative;
    }
    .slick-track {
        @include dflex;
    }
    .slick-list {
        overflow: hidden;
    }
    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-20px);
        width: 35px;
        height: 40px;
        font-size: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        &:after {
            position: absolute;
            content: "";
            width: 16px;
            height: 16px;
            top: 50%;
            border: 3px solid $main-color;
            border-top-color: transparent;
            border-right-color: transparent;
            transform: translateY(-8px) rotate(45deg);
        }
    }
    .slick-arrow.slick-prev {
        left: 0;
        z-index: 1;
    }
    .slick-arrow.slick-next {
        right: 0;
        transform: translateY(-20px) rotate(180deg);
    }
}
.categories {
    display: flex;
    flex-flow: column;
    position: relative;
    min-height: 400px;
    &__item {
        &:hover > .categories__inner {
            display: block;
        }
    }
    &__link {
        display: block;
        padding: 15px 20px;
        font-size: 13px;
        background: url("../../img/svg/chevron-right-solid.svg") no-repeat right
            10px center;
        background-size: 3%;
        transition: $hover-transition;
        &:hover {
            background-color: $main-color;
            color: #fff;
        }
    }
    &__inner {
        display: none;
        width: 250px;
        height: 100%;
        position: absolute;
        background-color: #0095f9;
        top: 0;
        left: 100%;
        a {
            background-image: none;
        }
    }
}
.slide {
    position: relative;
    min-height: 450px;
    padding: 50px 0;
    color: $text-white;
    text-align: center;
    .container {
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    &__title {
        font-size: 45px;
        margin-bottom: 20px;
    }
    &__subtitle {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__text {
        font-size: 22px;
        margin-bottom: 20px;
    }
    &__screenshots {
        background-color: transparent;
        border: 1px solid #fff;
    }
    &__links {
        margin-top: auto;
        a {
            margin: 0 10px;
        }
    }
    &__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 768px) {
    .hero {
        &__slider {
            display: none;
        }
        &__categories {
            position: relative;
            left: 0;
            width: 100%;
            h2 {
                font-size: 24px;
            }
        }
    }
    .categories {
        min-height: auto;
        &__item a {
            //text-align: center;
            font-weight: 700;
            font-size: 20px;
            background-image: none;
        }
    }
    .slide {
        padding: 60px 0;
        &__title {
            font-size: 26px;
            text-transform: uppercase;
        }
        &__subtitle {
            font-size: 18px;
        }
        &__text {
            font-size: 13px;
            margin-bottom: 30px;
        }
    }
}
