.products {
    padding: 30px 0;
    &__wrapper {
        //display: flex;
        //justify-content: space-between;
        display: grid;
        grid-template-columns: 25% 1fr;
    }
    &__filter {
        min-width: 200px;
    }
    &__list {
        padding: 20px 0;
    }
    &__list-wrapper {
        flex-grow: 1;
        padding: 50px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
    .brand__name {
        flex-basis: 100%;
        text-align: center;
    }
}
.product {
    padding: 15px;
    margin: 0 4px 10px 0;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    transition: $hover-transition;
    cursor: pointer;
    &:hover {
        box-shadow: -2px 1px 10px 1px rgba(167, 167, 167, 0.75);
        transform: scale(1.02);
    }
    &__img {
        position: relative;
        width: 100%;
        height: 200px;
        border: 1px solid rgb(230, 230, 230);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img {
            width: 80%;
            border-radius: 10px;
        }
        .cart-add {
            padding-right: 5px;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 5px;
            right: 5px;
            display: flex;
            justify-content: start;
            align-items: center;
            background-color: transparent;
            button {
                background-color: transparent;
                border: none;
                &:hover svg {
                    fill: darken(#6a983c, 20%);
                }
                svg {
                    fill: #6a983c;
                    transition: 0.3s fill;
                }
            }
        }
    }
    &__name {
        padding: 20px 0 5px 0;
        font-size: 18px;
        font-weight: 500;
    }
    &__description {
        padding: 5px 0 10px 0;
    }
    &__price {
        font-size: 20px;
        font-weight: 700;
    }
    &__btn {
        width: 70px;
        padding: 10px 5px;
        color: #fff;
        background: #6a983c;
        text-align: center;
        &:hover {
            background-color: $text-red;
        }
    }
    &__rate {
        padding: 10px 0;
        display: flex;
        justify-content: flex-end;
        button {
            border: none;
            background-color: transparent;
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }
    }
    &__total {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__stars {
        margin-right: auto;
        .star {
            width: 12px;
            height: 10px;
            &:hover svg {
                fill: gold;
            }
        }
    }
}

.products__form {
    padding: 40px 0;
    fieldset {
        border: none;
        display: flex;
        flex-flow: column;
    }
    legend {
        display: block;
        font-size: 18px;
        margin: 10px 0;
        font-weight: 700;
    }
    label {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
        color: $text-grey;
        margin-bottom: 10px;
    }
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"] + i {
        display: block;
        width: 20px;
        height: 20px;
        border: 2px solid $text-grey;
        margin-right: 20px;
    }
    input[type="checkbox"]:checked + i {
        background-image: url("../../img/svg/tick.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media (max-width: 902px) {
    .products {
        &__wrapper {
            flex-flow: column;
        }
        &__list {
            justify-content: space-between;
        }
    }
    .product {
        width: calc(33.333% - 4px);
    }
}
@media (max-width: 768px) {
    .product {
        width: calc(50% - 4px);
    }
}
