.breadcrumbs {
    padding: 20px 0;
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__item {
        margin: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
        cursor: pointer;
        color: rgb(194, 194, 194);
        &:hover {
            color: $text-black;
        }
        &:last-child {
            color: $text-black;
        }
    }
    &__separator {
        color: rgb(194, 194, 194);
    }
}
