.hero {
    &__wrapper {
        display: grid;
        grid-template-columns: 300px 1fr;
    }

    &__categories {
        position: relative;
        width: 80%;
        color: #fff;
    }
    &__title {
        left: 0;
        width: 300px;
        background-color: $main-color;
        color: #fff;
        font-size: 18px;
        padding: 10px 0;
        text-align: center;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        cursor: pointer;
        z-index: 4;
        svg {
            width: 25px;
            height: 20px;
            fill: #fff;
            margin: 0 10px 0 0;
        }
    }
    &__slider {
        background: url("../../public/img/Slide-1.jpg") no-repeat;
        background-size: 100%;
    }
}
.categories {
    width: 300px;
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    max-height: 450px;
    background: rgb(17, 74, 165);
    overflow-y: scroll;

    &__item {
        //position: relative;
        max-width: 300px;
        &:hover > .categories__inner {
            display: block;
        }
    }
    &__link {
        display: block;
        padding: 15px 20px;
        font-size: 13px;
        background: url("../../img/svg/chevron-right-solid.svg") no-repeat right
            10px center;
        background-size: 2%;
        transition: $hover-transition;
        &:hover {
            background-color: $main-color;
            color: #fff;
        }
    }
    &__inner {
        display: none;
        width: 300px;
        height: 100%;
        //height: 100%;
        position: absolute;
        background-color: #ffe89e;
        top: 0;
        left: 300px;
        color: #000;
        a {
            background-image: none;
        }
    }
}
.slide {
    position: relative;
    min-height: 450px;
    padding: 50px 0;
    color: $text-white;
    text-align: center;
    .container {
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    &__title {
        font-size: 45px;
        margin-bottom: 20px;
    }
    &__subtitle {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__text {
        font-size: 22px;
        margin-bottom: 20px;
    }
    &__screenshots {
        background-color: transparent;
        border: 1px solid #fff;
    }
    &__links {
        margin-top: auto;
        a {
            margin: 0 10px;
        }
    }
    &__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 768px) {
    .hero {
        svg {
            display: none;
        }
        &__slider {
            display: none;
        }
        &__categories {
            position: relative;
            left: 0;
            width: 100%;
            h2 {
                font-size: 15px;
            }
        }
    }
    .categories {
        min-height: auto;
        &__item a {
            //text-align: center;
            font-weight: 700;
            font-size: 14px;
            background-image: none;
        }
    }
    .slide {
        padding: 60px 0;
        &__title {
            font-size: 26px;
            text-transform: uppercase;
        }
        &__subtitle {
            font-size: 18px;
        }
        &__text {
            font-size: 13px;
            margin-bottom: 30px;
        }
    }
}
