.user {
    padding: 30px 0 100px 0;
    &__wrapper {
        display: flex;
    }
    &__menu {
        width: 20%;
    }
    &__list {
    }
    &__link {
        width: 100%;
        padding: 10px;
        margin-bottom: 5px;
        background-color: #ccc;
        border-bottom: 1px solid rgb(206, 206, 206);
    }
    &__main {
        padding: 50px;
        width: 80%;
        background-color: rgb(218, 218, 218);
    }
}
.edit {
    &__form {
        input {
            background-color: inherit;
            border: none;
        }
        dl {
            display: flex;
            justify-content: space-between;
        }
        dt {
            min-width: 300px;
        }
    }
}
